p {
    font-family: Arial;
    margin-bottom: 6px;
    margin-top: 0px;
}
.p1 {
    font-size: xx-large;
}
.currency {
    color: gray;
    font-size: large;
}

.p2 {
    color: green;
}

.p3 {
    color: gray;
}

.s3 {
    color: red;
}