div {
    font-family: Arial;
}


.container {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: gray;

}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px 6px 12px;
}

.notifications {
    background-color: rgb(59, 59, 255);
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;

}

