.sign-up {
    border: none;
    padding: 15px 30px 15px;
    background-color: rgb(0, 170, 0);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: opacity .3s;
    font-weight: bold;

}

.sign-up:hover {
    opacity: 0.9;
}